<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emotibot.robotvision.game.trexrun">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.front.autofocus" />

    <application
        android:name="com.emotibot.robotvision.game.trexrun.TrexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_trex_run_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_trex_run_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.emotibot.robotvision.game.trexrun.activity.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.emotibot.robotvision.game.trexrun.activity.GameActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.emotibot.robotvision.game.trexrun.activity.FinishActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.emotibot.robotvision.game.trexrun.activity.PlayerCheckActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.emotibot.robotvision.game.trexrun.activity.SettingActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>

        <service
            android:name=".service.UploadService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>